<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InputPanel</title>
    <style>
        .input-container {
            position: relative;
            width: 200px;
        }

        #test {
            width: 100%;
        }

        #test_panel {
            border: solid 1px #aaaaaa;
            position: absolute;
            width: 100%;
        }
    </style>

</head>
<body>

<div class="input-container">
    <input type="text" id="test">
    <div id="test_panel">
        <div>a</div>
        <div>b</div>
        <div>c</div>
        <div>d</div>
    </div>
</div>

</body>
</html>